@font-face {
  font-family: 'KgTenThousandReasons';
  src: url('../fonts/KgTenThousandReasons-R1ll.ttf') format('truetype');
}

body {
  font-family: 'KgTenThousandReasons', sans-serif;
  font-weight: normal;
  color: white;
}

.title {
  display: block;
  line-height: 1;
  font-size: 1.25rem;
  text-align: center;
}

.page {
  width: 100%;
  padding: 2rem;
  min-height: 100vh;
  background-image: url('../images/blackboard.jpg');
  background-size: cover;
  background-position: center center;
}

.main {
  display: flex;
  justify-content: center;
}
